@using WebTask.Core.ViewModels

@model List<ItemViewModel>


@{
    ViewBag.Title = "Index";
}

<h2>Items</h2>

<table>
    <th>
    <td></td>
    <td></td>
    <td></td>
    <td>Name</td>
    </th>


    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.ActionLink("Edit", "Edit", "Items")</td>
            <td>@Html.ActionLink("Delete", "Delete", "Items")</td>
            <td>@Html.ActionLink("View", "Edit", "Items")</td>
            <td>@item.Name</td>
        </tr>
    }

</table>

@Html.ActionLink("Create", "Create", "Items")

